.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: #900;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url("../img/onda.svg");
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-item:hover {
  border-color: #e21;
}

.vantagens-item p {
  grid-column: 2;
}

@media (max-width: 1000px) {
  .introducao::before {
    display: none;
  }

  .conteudo-vantagens {
    grid-template-columns: 1fr;
  }

  .introducao {
    text-align: left;
    justify-items: start;
  }

  .subtitulo {
    font-size: 2rem;
    text-align: left;
    padding: 1.25rem;
  }
  .vantagens-item {
    margin-bottom: 1rem;
  }
  .conteudo img {
    grid-row: 1;
  }
}

@media (max-width: 600px) {
  .conteudo {
    grid-template-columns: 1fr;
  }

  .conteudo p {
    font-size: 1rem;
  }
}
